/* src/Inicio.css */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../images/fondoAPI.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Hace que la imagen de fondo se mantenga fija en su lugar al hacer scroll */
}

.content {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semi-transparente para el contenido */
    padding: 20px;
    border-radius: 10px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 1.8em;
    margin-bottom: 0.5em;
    color: #555;
}

p {
    font-size: 1.2em;
    margin-bottom: 1em;
    color: #777;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.styled-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    transition: background-color 0.3s;
}

.styled-button:hover {
    background-color: #0056b3;
}
